.work {
    width: 80vw;
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #333131;
    border-radius: 15px;
    padding: 3rem 0 0 0;
   
}

.section {
    display: flex;
    width: 100%;
    margin: 4rem auto;
    justify-content:space-around;
    align-items: center;
}

.project {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.project > h2 {
    margin: 0;
}


.project > h4 {
    font-style: italic;
}

.btns {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btns > a {
    margin: 0 1rem;
    border-radius: 15px;
    border: none;
    padding: 0.5rem 1.5rem;
    text-decoration: none;
    cursor:pointer;
}



.preview {
    background-color: goldenrod;
    color: var(--dark);
}

.preview:hover {
    color: var(--light);
}


.code {
    background-color: var(--light);
    color: var(--dark)
}